@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,500;0,600;1,700&display=swap');

$primary: #005450;
$grey: #f3f4f3;
$control-grey: #dcdfde;

@import "../node_modules/bootstrap/scss/bootstrap";

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    overflow-y: scroll;
}


.app {
    font-family: "Work Sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: #005450;
}

.app a {
    color: #005450;
}

.chip {
    border-radius: 6px;
    background-color: #eaf1f1;
    color: #005450;
    display: inline-block;
    padding: 0.3em 0.5em;
    font-size: 0.9em;
    margin: 0 0.3em 0 0;
}

a.chip {
    text-decoration: none;
}

.table a {
    text-decoration: none;
}

.research-item {
    cursor: pointer;
}

.research-title {
    font-weight: 600;
    color: #005450;
}

.table-hover > tbody > tr:hover > * {
    --bs-table-accent-bg: #f8f8f8 !important;
}

.cursor-pointer {
    cursor: pointer;
}

// Record modal

dd {
    margin-bottom: 1rem !important;
}

hr {
    opacity: 0.1;
}